<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">

            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink("Second Practice", "Index", "home")
                </li>
                <li>
                    @Html.ActionLink("Home", "Index", "home")
                </li>
                <li>
                    @Html.ActionLink("Singup", "singup", "home")
                </li>
                <li>
                    @Html.ActionLink("Singup List", "list", "home")
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Registeration", "Register", "home")
                </li>
                <li>
                    @Html.ActionLink("Login", "login", "home")
                </li>
                <li>
                    @Html.ActionLink("Register List", "registerlist", "home")
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
        <footer>
            <br /><br /><br />
            <h4>All &copy; Right's Reserved <b><i>Muhammad Sameer</i></b> 2022 </h4>
        </footer>
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>

</body>
</html>