@model IEnumerable<FeeManagement.Models.Semester_Wise_Courses>

@{
    ViewBag.Title = "CourseList";
    Layout = "~/Views/Shared/AdLayout.cshtml";
}

<head>

    <title>Admin - Course List</title>
    <link href="~/CSS/Search_Box.css" rel="stylesheet" />
</head>
<h3 class="text-center" style="font-weight:bolder">Admin Operation <span style="color:brown">( Course - List )</span></h3>

<center>
    <div class="input-icons">
        <i class="fa fa-search icon fa-lg me-8 fa-fw">
        </i>
        <input class="input-field" type="text" id="myInput" onkeyup="searchbox()" placeholder="Find Course By Course Name (Write 1st Word Only). . ." title="Type in a email">

        &nbsp; <button class="btn btn-danger" onclick="tableToExcel()">Download List</button>
    </div>
</center>

<script>

    function confirmdlte() {
        return confirm("Are You Sure ? You want To delete Course");
    }

    function searchbox() {
        var input, filter, table, tr, td, i, txtValue, norows;

        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        norows = document.getElementById('no-rows-alert');

        var matchedRow = false;

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0, 1]; // counting 2,1,8.. represnt kr rha kis cheez sy serch box access krna
            if (td) {
                txtValue = td.textContent || td.innerText;

                if (txtValue.indexOf(filter) > -1) //touppercase case sensitive ni krna to use kia.
                {
                    matchedRow = true;
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }

        // no record found
        norows.style.display = matchedRow ? 'none' : 'inherit';
        if (!matchedRow) {
            setTimeout(function () {
                norows.style.display = 'none'
            }, 3000)
        }
    }

</script>

<script src="~/Scripts/CourseListExport.js"></script>

<script>
    function tableToExcel() {
        var table2excel = new Table2Excel();
        table2excel.export(document.querySelectorAll("table#myTable"));
    }
</script>
<table class="table table-bordered" id="myTable">
    <div class="alert alert-danger text-center" id="no-rows-alert" style="display: none">No records found</div>
    <thead class="thead-dark">
        <tr>
            <th>
                #
            </th>
            <th>
                Course Name
            </th>
            <th>
                Credit Hour's
            </th>
            <th>
                Course Fee's
            </th>
            <th>
                Action's
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.course_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.credit_hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fees)
            </td>
            <td>
                @Html.ActionLink("Edit Course", "EditCL", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Delete Course", "Deletecl", new { id = item.Id } , htmlAttributes: new { @class = "btn btn-danger", onclick = "return confirmdlte()" })
            </td>
        </tr>
    }

</table>

