@model IEnumerable<FeeManagement.Models.AddFees>
@{
    ViewBag.Title = "MainPage";
    Layout = "~/Views/Shared/StdLayout.cshtml";
}

<head>

    <title>Student - Dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
@using (Html.BeginForm("MainPage", "Home"))
{
    <div class="row">

        <!--(Total Students) Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Semester
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Session["Semester"]</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-graduate fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Total Course Card  -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Total Course's
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" data-toggle="modal" data-target="#myModal">@Session["Course"] <span style="color: red">--> Details</span></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-book fa-2x text-gray-300"></i>
                            @*<div class="text-xs font-weight-bold text-danger text-uppercase mb-1" data-toggle="modal" data-target="#myModal">
                                    Detail's
                                </div>*@
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Balance Card  -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Pending Balance
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><span style="color:red">Rs. </span>@Session["pending"]</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comment-dollar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Total Earning Card  -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                Total Outstanding
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><span style="color:red">Rs. </span>@Session["TotalFees"]</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-file-invoice-dollar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @{ Html.RenderAction("PartialCourse", "Home", new { id = @Session["studentId"] }); }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div id="text" class="font-weight-bolder font-italic py-2">
        <h2>Paid Fee's <span style="color : red">(@Session["studentName"])</span></h2>
    </div>
        {
            Html.RenderAction("PartialFeelist", "Home", new { recentpaid = true, id = @Session["studentId"] });
        }
        <div class="container-fluid" style="text-align : right">
            <table class="table table-bordered">
                <th> <span style="color : brown">View Full List</span></th>
                <th style="text-align : center"> @Html.ActionLink("Fee List", "StdFeeList", "Home", htmlAttributes: new { @class = "btn btn-success" })</th>
            </table>

        </div>

  
}

