@model FeeManagement.Models.Student

@{
    ViewBag.Title = "Stdsmstrdetails";
    Layout = "~/Views/Shared/StdLayout.cshtml";
}
<head>

    <title>@Html.DisplayFor(model => model.StdName) - Semester Details</title>

</head>
<div class="container">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                            </div>
                            <h5 class="user-name">
                                @Html.DisplayFor(model => model.StdName)
                            </h5>
                            <h6 class="user-email">
                                @Html.DisplayFor(model => model.Email)
                            </h6>
                        </div>
                        <div class="about">
                            <h5>Attention</h5>
                            <p> @Html.DisplayFor(model => model.StdName) if your any information incorrect , Immediately Send Request and Highlight The Incorrect Information also write The Correct Information"</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-2 text-primary">Semester Detail's</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="eMail">Name</label>
                                @Html.EditorFor(model => model.StdName, new { htmlAttributes = new { @class = "form-control , border border-top-0", placeholder = "Student Name", disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.StdName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="phone">Email</label>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control , border border-top-0", onchange = "emailcheck()", placeholder = "email@smstr.edu.pk", required = "required", id = "emailid", disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="website">Password</label>
                                @Html.EditorFor(model => model.StdPassword, new { htmlAttributes = new { @class = "form-control , border border-top-0", placeholder = "Student Password", disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.StdPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="Street">Semester</label>
                                @Html.EditorFor(model => model.Semester, new { htmlAttributes = new { @class = "form-control , border border-top-0", placeholder = "Student Semester", required = "required", disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.StdAge, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="ciTy">Department</label><br />
                                @Html.DropDownListFor(model => model.SemesterId, ViewBag.SemesterList as SelectList, "-- Select Department --")
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="sTate">Campus</label><br />
                                @Html.DropDownListFor(model => model.CampusId, ViewBag.CampusList as SelectList, "-- Select Campus --", new { id = "MyCampus", htmlAttributes = new { @class = "form-control", required = "required" } })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .account-settings .user-profile {
        margin: 0 0 1rem 0;
        padding-bottom: 1rem;
        text-align: center;
    }

        .account-settings .user-profile .user-avatar {
            margin: 0 0 1rem 0;
        }

            .account-settings .user-profile .user-avatar img {
                width: 90px;
                height: 90px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                border-radius: 100px;
            }

        .account-settings .user-profile h5.user-name {
            margin: 0 0 0.5rem 0;
        }

        .account-settings .user-profile h6.user-email {
            margin: 0;
            font-size: 0.8rem;
            font-weight: 400;
            color: #9fa8b9;
        }

    .account-settings .about {
        margin: 2rem 0 0 0;
        text-align: center;
    }

        .account-settings .about h5 {
            margin: 0 0 15px 0;
            color: #007ae1;
        }

        .account-settings .about p {
            font-size: 0.825rem;
        }

    .form-control {
        border: 1px solid #cfd1d8;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        font-size: .825rem;
        background: #ffffff;
        color: #2e323c;
    }

    .card {
        background: #ffffff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 0;
        margin-bottom: 1rem;
    }
</style>
